<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>

	<aop:config>
		<aop:pointcut
			expression="execution( * com.creckett.service.impl.BetResultServiceImpl.onOverCompleted(long))"
			id="betResultProfilingPointcut" />
			
		<aop:pointcut
			expression="execution( * com.creckett.service.impl.BetResultServiceImpl.pushBetResults(..))"
			id="betResultPushPointcut" />
		<aop:aspect ref="betResultProfilingAspect" order="1">
			<aop:around pointcut-ref="betResultProfilingPointcut" method="invoke"/>
			<aop:before pointcut-ref="betResultPushPointcut" method="beforeBetResultPush"/>
			<aop:after pointcut-ref="betResultPushPointcut" method="afterBetResultPush"/>
			
		</aop:aspect>
	</aop:config>
	<bean id="betResultProfilingAspect" class="com.creckett.loadtesting.BetResultProfilingAspect" />
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="betResultPushTrigger" />
			</list>
		</property>
	</bean>

	<bean id="betResultPushTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<!-- see the example of method invoking job above -->
		<property name="jobDetail" ref="betResultPushTriggerDetail" />
		<!-- 10 seconds -->
		<property name="startDelay" value="240000" />
		<!-- repeat every 50 seconds -->
		<property name="repeatInterval" value="240000" />
	</bean>

	<bean id="betResultPushTriggerDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="betResultPushTask" />
		<property name="targetMethod" value="push" />
	</bean>
	<bean id="betResultPushTask" class="com.creckett.loadtesting.BetResultPushTask">
		<property name="matchService">
			<ref bean="matchService"/>
		</property>
		<property name="asyncBetResultHelper">
			<ref bean="asyncBetResultHelper"/>
		</property>
		<property name="messagingAdaptor">
			<ref bean="messagingAdaptor"/>
		</property>
		
	</bean>
</beans>
