#=======================================================================#
# 	DataSource Configuration
#
#=======================================================================#
db.url=jdbc:mysql://localhost:3306/ibet
db.username=ibet
db.password=ibet
db.driver_class=com.mysql.jdbc.Driver

#=======================================================================#
#	Connection Pool Settings
#
#=======================================================================#
db.initial.pool.size=5
db.acquire.increment=1
db.max.pool.size=5
db.min.pool.size=1

#=======================================================================#
#	Hibernate Configuration
#
#=======================================================================#
hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
hibernate.show_sql=true
hibernate.generate.statistics=true
hibernate.hbm2ddl=create
hibernate.cache.provider.class=net.sf.ehcache.hibernate.EhCacheProvider


date.interval=7
ibet.dateFormatPattern=MMM dd, yyyy
ibet.timeFormatPattern=HH:mm a

ibet.homePage=http://localhost:8080/iBet/service/homeScreen.do

#=======================================================================#
#	Facebook Integration Configuration
#
#=======================================================================#
facebook.secret=somesecret
facebook.clientId=xxyyzzaabb
facebook.redirectURL=http://localhost:8080/iBet/auth/facebookAuth.do
facebook.application.scope=email
facebook.user.authenticationURL=https://www.facebook.com/dialog/oauth?
facebook.user.dataAccessURL=https://graph.facebook.com/me?access_token=
facebook.application.authenticationURL=https://graph.facebook.com/oauth/access_token?

